﻿#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

tr:nth-child(even) {
    background: #000;
}

tr:nth-child(odd) {
    background: #0F0F0F;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

th {
    background: #606060
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}

.app-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position: fixed;
    border: 2px solid white;
    padding: 10px;
    background: #242424;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}
